
.idea/.name
.idea/DGPE.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.ipynb_checkpoints/GPE_1D_rho_hist-checkpoint.ipynb
.ipynb_checkpoints/GPE_2D-checkpoint.ipynb
.ipynb_checkpoints/GPE_1D_rho_hist-checkpoint.ipynb
.ipynb_checkpoints/GPE_2D-checkpoint.ipynb
.ipynb_checkpoints/GPE_1D_rho_hist-checkpoint.ipynb
.ipynb_checkpoints/GPE_2D-checkpoint.ipynb
.ipynb_checkpoints/GPE_1D_rho_hist-checkpoint.ipynb
.ipynb_checkpoints/GPE_2D-checkpoint.ipynb
.idea/workspace.xml
*.xml
GPElib/arxiv.py
GPElib/dynamics.py
GPElib/mathematics.py
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
*.xml
